<SCRIPT language="javascript">
function makeOptions(object)
{
  object.options[0] = new Option("firstDisp","fvalue");
  object.options[1] = new Option("sDisp","svalue");
}
</SCRIPT>
<form name="form1">
<select name="testselect">
<SCRIPT language="javascript">
  makeOptions(document.form1.testselect)
</SCRIPT>
</select>
</form>