body	{
			font-family: arial, verdana, helvetica, sans-serif;
		}

td 		{  
			FONT-SIZE: 10pt;  font-family: Arial, Helvetica, sans-serif
		}

.header
		{  
			FONT-SIZE: 13px;  color:#989898;  font-weight:bold;
		}



a:link		{FONT-SIZE: 12px; color:#1E3B6E; font-family: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
a:visited	{FONT-SIZE: 12px; color:#1E3B6E; font-family: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
a:hover		{FONT-SIZE: 12px;  color:#4F6C9F; font-family: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
a:active	{FONT-SIZE: 12px; color:#1E3B6E;  font-family: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}




.menuBg {BACKGROUND: #DFDFDF repeat-x; height:36px; color:#989898;}

.bannerBg
		{  
			FONT-SIZE: 12px;  background-color:#1E3B6E; color:#ffffff;  font-weight:normal;
		}

.bg
		{  
			FONT-SIZE: 12px;  background-color:#DFDFDF; color:#4F6C9F;  font-weight:normal;
		}


.dataBorder     {
                        COLOR:#4F6C9F; FONT-SIZE:10pt; FONT-WEIGHT:normal; 
                        BACKGROUND-COLOR:#A9DAE9;
                        border-top-width:       1px;
                        border-right-width:     1px;
                        border-bottom-width:    1px;
                        border-left-width:      1px;
	                    border-top-style:       solid;
	                    border-right-style:     solid;
	                    border-bottom-style:    solid;
	                    border-left-style:      solid;
	                    border-top-COLOR:       #1E3B6E;
	                    border-right-COLOR:     #1E3B6E;
	                    border-bottom-COLOR:    #1E3B6E;
	                    border-left-COLOR:      #1E3B6E;
	                }
	                
.add     {
                        COLOR:#5A5A5A; FONT-SIZE:121pt; FONT-WEIGHT:normal; 
                        BACKGROUND-COLOR:#ffffff;
                        border-top-width:       1px;
                        border-right-width:     1px;
                        border-bottom-width:    1px;
                        border-left-width:      1px;
	                    border-top-style:       solid;
	                    border-right-style:     solid;
	                    border-bottom-style:    solid;
	                    border-left-style:      solid;
	                    border-top-COLOR:       #7F7F7F;
	                    border-right-COLOR:     #7F7F7F;
	                    border-bottom-COLOR:    #7F7F7F;
	                    border-left-COLOR:      #7F7F7F;
	                }	                