.ddsmoothmenu{
font: bold 12px Verdana;
background: sky; /*background of menu bar (default state)*/
width: 100%;
color: navy blue;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
color: navy blue;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
color: navy blue;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
background: #A9DAE9; /*#414141 *//*background of menu items (default state)*/
color: navy blue;
padding: 8px 10px;
border-right: 1px solid #778;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
color: navy blue;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: navy blue;
}

.ddsmoothmenu ul li a:hover{
background: #A9DAE9; /*background of menu items during onmouseover (hover state)*/
color: navy blue;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
color: navy blue;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
color: navy blue;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
color: navy blue;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal Verdana;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
color: navy blue;
}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: sky;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.7;
}