<BODY bgcolor="TAN">
<FORM name=Form1 action="{$PHP_SELF}" method=POST>
  Name : <SELECT name=cboName onChange="document.Form1.submit();">
        {section name=sec1 loop=$i}
        <OPTION value={$resuId[sec1]} {$SELECTED[sec1]}>
        {$resuName[sec1]}
        </OPTION>
        {/section}
        </SELECT>
<!--        Date From : {html_select_date prefix="fromDate" start_year="-2" end_year="+2" month_format="%m" day_value_format="%02d" reverse_years="true" field_order="DMY"}
               To : {html_select_date   prefix="toDate" start_year="-2" end_year="+2" month_format="%m" day_value_format="%02d" reverse_years="true" field_order="DMY"}
-->        <BR><BR>
        Opening : {$opening}
        <BR><BR>
  <TABLE BORDER=1 WIDTH=100%  CELLSPACING="0" CELLPADDING="0" >
  <TR>
    <TD ALIGN="center">
    <B>  DATE</B>
    </TD>
    <TD ALIGN="center">
    <B> &nbsp; </B>
    </TD>
    <TD ALIGN="center">
      <B>DEPOSIT </B>
    </TD>
    <TD ALIGN="center">
    <B>WITHDRAW</B>
    </TD>
    <TD ALIGN="center">
      <B>PROFIT</B>
    </TD>
    <TD ALIGN="center">
      <B>LOSS</B>
    </TD>
    <TD ALIGN="center" >
      <B>BALANCE</B>
      
    </TD>
    
    </TR>
     <TR>
      {section name=sec2 loop=$k}
        <TD align=center>{$reportDate[sec2]}</TD>
        <TD align=center>{$itemIdExpiryDate[sec2]}</TD>
         
         {if $reportdwStatus[sec2] neq "d"}
           <TD align=center>0</TD>
           <TD align=center> {$reportdwAmount[sec2]}</TD>
           
         {else}
           <TD align=center> {$reportdwAmount[sec2]}</TD>
           <TD align=center>0</TD>
         {/if}
          {if $reportplStatus[sec2] neq "p"}
            <TD align=center>0</TD>
            <TD align=center>{$reportplAmount[sec2]}</TD>
          {else}
            <TD align=center>{$reportplAmount[sec2]}</TD>
            <TD align=center>0</TD>
          {/if}
          <TD align=center><B>{$reportcurrentBal[sec2]}</B></TD>
          </TR>
     {/section}
     
     
  </TABLE>
        
</FORM>
</BODY>