<HR>
<TABLE border="0" cellPadding="2" cellSpacing="0">
<TR>
  <TD>
      Name : {$selectedUser}
  </TD>
  <TD vAlign="top">&nbsp;
    ==> {$fromDateDMY} To : {$toDateDMY} 
    {if $cfgConsiderExchangeBelowTrades == 1}<font color="red">(Only Exchage : {$currentExchange})</font>{/if}
  </TD>
</TR>
</TABLE>
  <TABLE BORDER=1 cellspacing="0" cellpadding="3">
  <TR>
    <TD ALIGN="center">{if $display != "tradesPrint" && $display != "tradesPrintEbhal"}Delete{/if}</TD>
    <TD ALIGN="center">
    <B>  Date</B>
    </TD>
    <TD align="center">
    <B>Transaction In</B>
    </TD>
    <TD ALIGN="center">
    <B> Note </B>
    </TD>
    <TD ALIGN="center">
      <B>! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Credit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; !</B>
    </TD>
    <TD ALIGN="center" NOWRAP>
    <B>! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Debit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; !</B>
    </TD>
    <TD ALIGN="center" >
      <B>&nbsp;</B>
    </TD>
    <TD><B>Total Balance</B></TD>
  </TR>
    {section name=sec2 loop=$k}
      <TR>
        <TD>
          {if $itemIdExpiryDate[sec2] == "Opening" || $display == "tradesPrint"}
          &nbsp;
          {else}
          <A onclick="return confirm('Are you sure?');" 
          href="accCashFlowDelete.php?cashFlowId={$cashFlowId[sec2]}">Delete</A>
          {/if}
        </TD>
        <TD NOWRAP>{$reportDate[sec2]}</TD>
        <TD NOWRAP>{$transMode[sec2]} &nbsp;</TD>
        <TD NOWRAP>{$itemIdExpiryDate[sec2]}</TD>
        <TD NOWRAP align="right" style="color:blue;">{$reportdwAmount1[sec2]}</TD>
        <TD NOWRAP align="right" style="color:red;">{$reportdwAmount2[sec2]} </TD>
        <TD><B>&nbsp;</B></TD>
        <TD NOWRAP align="right"><B>{if $reportcurrentBal[sec2] < 0} <font color="red"> {else}  <font color="blue">{/if}{$reportcurrentBal[sec2]}&nbsp;</B></TD>
      </TR>
    {/section}
        
  </TABLE>
   --------------------------------------------
  <br>
   Balance as on date {$toDateDMY} =     {if $totalBalOnDate < 0} <font color="red"> {else}  <font color="blue">{/if}
  <B>{if $totalBalOnDate}{$totalBalOnDate}{else}0{/if}
    {if $totalBalOnDate < 0} Dr {else} Cr {/if}
  </B></font>