<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type='text/javascript' src="./js/jquery.autocomplete.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/jquery.autocomplete.css" />
  {literal}
  <style type="text/css">
    span  {
      color:white;
    }
    a  {
      color:white;
    }
    div#storeOrPendig1  {
      float:left;
      display:inline;
      width:49%;
      border:1px solid red;
    }
    div#storeOrPendig2  {
      float:right;
      display:inline;
      width:49%;
      border:1px dotted red;
    }
  </style>
  {/literal}
  <title>!! MCX !! Add Trade</title>
</head>
<body  bgColor="#FFCEE7" id="body" >
<form name="import" action="{$PHP_SELF}" method="post" enctype="multipart/form-data">
    	<input type="file" name="fl_trade" id="fl_trade" />
		<select name="expiryDate">
			{section name=sec1 loop=$expiryDate}
              <OPTION value={$expiryDate[sec1]}>
                {$expiryDate[sec1]}
              </OPTION>
            {/section}
		</select>
	   <input type="submit" name="btn_trade" id="btn_trade" value="Import File" />
</form>

</body>
</html>