<HTML>
<HEAD><TITLE>Om !!! Add Same Brokerage For Same Exchange</TITLE></HEAD>
<BODY bgColor="#FFCEE7">
  <FORM name="form1" action="{$PHP_SELF}" METHOD=POST>
  <A href="./index.php">Home</A>&nbsp;&nbsp;
  <A href="./clientList.php">Party List</A>&nbsp;&nbsp;
  <A href="./clientEdit.php?clientId={$clientId}">Client Edit</A>
  <BR/>Client / Broker Name : 
  <B><U>{$fullName}</U></B>
    <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
     <TR><TD colspan="4" bgcolor="gray" align="center"><B>Brokerage...</B></TD>    </TR>
     <TR>
      <TD><B>Exchange</B></TD>
      <TD><B>Brok</B></TD>
      <TD><B>Brok 1</B></TD>
      <TD><B>Brok 2</B></TD>
      </TR>
      {section name=sec2 loop=$exchangeId}
        <TR>
          <TD>{$exchange[sec2]}</TD>
          <TD>
             <INPUT type="text" name="{$exchange[sec2]}" value="{$broke[sec2]}" />
             <INPUT type="hidden" name="{$exchangeId[sec2]}" value="{$exchange[sec2]}" />
             <FONT color="#666699">You Can Set Same Brokerage For All Item Of :: </FONT><B>{$exchange[sec2]}</B>
          </TD>
          <TD>
             <INPUT type="text" name="brok1_{$exchange[sec2]}" value="{$brok1[sec2]}" />
             <INPUT type="hidden" name="{$exchangeId[sec2]}" value="{$exchange[sec2]}" />
          </TD>
          <TD>
             <INPUT type="text" name="brok2_{$exchange[sec2]}" value="{$brok2[sec2]}" />
             <INPUT type="hidden" name="{$exchangeId[sec2]}" value="{$exchange[sec2]}" />
          </TD>
        </TR>
        
        {/section}   
        <TR>
          <TD colspan="4" align="center"><INPUT type="submit" name="submitBtn" value="!! Set Brokerage !!" /></TD>
        </TR>
  </FORM>
  <SCRIPT language="javascript">
    document.form1.elements[0].focus();
  </SCRIPT>
</BODY>
</HTML>