<html>
<head><title>Client's Commision</title></head>
<body>
<a href="./index.php">Home</a>&nbsp;&nbsp;
<a href="./clientCommision.php">Client Commision Setting</a>
<br /><br />
<form name="form1" method="get">
<select name="clientId" onChange="document.form1.submit();">
  {html_options values=$client.id output=$client.name selected=$clientIdSelected}
</select><br/><br/>
<table border="1" cellpadding="2" cellspacing="0">
  {section name="sec" loop=$display|@count}
    <tr>
      <td align="right">{$display[sec].client}</td> 
      <td align="right">{$display[sec].exchange}</td> 
      <td align="right">{$display[sec].total}</td>
    </tr>
  {/section}
  <tr>
    <td>&nbsp;</td>
    <td align="right"><b>Total<b></td>
    <td align="right"><b>{$grandTotal}<b></td>
  </tr>
</table>
</form>
</body>
</html>