<TABLE cellPadding="8" cellspacing="0" border="1">
<TR>
  <TD><A href="changePassword.php">Change Password</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B>Trades : </B></TD>
  <TD>
    <A href='clientTrades.php'>Trades</A>&nbsp;&nbsp;
  </TD>
  <TD><A href='clientTradesExchange.php'>Trades with Exchange</A></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B>Print : </B></TD>
  <TD>
    <A href='clientTrades.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; 
    <A href='clientTrades.php?display=tradesPrint2'>Print2</A>
  </TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B> : </B></TD>
  <TD><A href='clientTrades.php?display=itemPending'>Item Pending</A></TD>
  <TD><A href='clientTrades.php?display=itemPending2'>Item Pending2</A></TD>
  <TD><A href='clientTrades.php?display=itemWiseGross'>Item Gross</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B> : </B></TD>
  <TD><A href="selectDtSession.php">Date range</A></TD>
  <TD><A href="tradeListForCrossChecking.php">Confirm</A></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B> : </B></TD>
  <TD><A href="orderList.php">Order List</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B> : </B></TD>
  <TD><A href='mnuAccount.php'>Money Transactions</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B> : </B></TD>
  <TD><A href="settings.php">Settings</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='goldSilverCalcJs.php'>Calculator1</A></TD>
  <TD><A href='calc.php'>Calculator2</A></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD align="right"><B> : </B></TD>
  <TD><A href="links.php">Useful Links</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TABLE>






<TABLE cellPadding="8" cellspacing="0" border="1">
<TR>
  <TD colspan="7" align="center"><B>Broker</B></TD>
</TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='brokerTrades.php'>Trades</A>&nbsp;&nbsp;</TD>
<!--    <A href='clientTrades2Side.php'>2</A>
    &nbsp;&nbsp;-->
        <TD align="right"><A href='brokerTrades.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='brokerTrades.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD><A href='brokerTrades.php?display=detailed'>Detailed Trades</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='brokerTradesLot2Side.php'>Trades 2Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='brokerTradesLot2Side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='brokerTradesLot2Side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD><A href='brokerTrades.php?display=noInnerStand'>No Inner Stand</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='brokerTradesPer1side.php'>Trades %1Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='brokerTradesPer1side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='brokerTradesPer1side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='brokerTradesPer2side2.php'>Trades %2Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='brokerTradesPer2side2.php?display=tradesPrint'>Print</A> &nbsp;&nbsp;<A href='brokerTradesPer2side2.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TABLE>
