<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD><TITLE>Om MCX !!</TITLE>
<SCRIPT type="text/javascript">
function open_win() 
{
  <?php if($useShortCuts == 1) { ?>
    if(window.event.keyCode == 97 || window.event.keyCode == 65)
      location.href = "<?php echo $openPageForA; ?>";
    if(window.event.keyCode == 111 || window.event.keyCode == 79)
      location.href = "<?php echo $openPageForO; ?>";
  <?php } ?>
}  
</SCRIPT>
</HEAD>
<BODY onkeyPress="open_win();">
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
<TR>
  <TD>
<link rel="stylesheet" href="style.css" type="text/css">
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
  <TR> 
    <TD>
      <TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
        <TR> 
          <!-- <TD align="left">&nbsp;&nbsp;&nbsp;{$headMenu}</TD> -->
          <TD vAlign="top" align="right">
          	
           <!-- <B>User : {$userName} </B> -->
          </TD>
        </TR>
        <TR> 
          <TD colspan="2" class="bannerBg" vAlign="middle" align="center"><FONT size="5" color="#FFFFFF">!! Om Mcx !! </FONT></TD>
        </TR>
        <TR> 
          <TD colspan="2" height="14">
            <TABLE width="100%" border="0" cellspacing="0" cellpadding="10">
              <TR> 
                <TD align="center" class="bg"> 
                  <TABLE width="98%" border="0" cellspacing="0" cellpadding="5" align="center">
                    <TR align="center"> 
                      <TD> 
                        <TABLE width="100%" border="0" cellspacing="0" cellpadding="10" class="dataBorder">
                          <TR> 
                            <TD align="left">
