BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
FORM {
	DISPLAY: inline; MARGIN: 0px
}
.margin {
	MARGIN: 4px 4px 0px
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3c5274; FONT-FAMILY: Tahoma,Arial,Sans-Serif; TEXT-ALIGN: left
}
.pagebg {
	BACKGROUND-COLOR: #f4f5f7
}
.topbg {
	BACKGROUND-COLOR: #3c5274
}
.footer {
	COLOR: #ffffff; BACKGROUND-COLOR: #6b7b94
}
.navigation {
	BACKGROUND-COLOR: #f4f5f7
}
.lightbg {
	BACKGROUND-COLOR: #f3f4f7
}
.even {
	BACKGROUND-COLOR: #dfe2ea
}
.odd {
	BACKGROUND-COLOR: #e8ebf2
}
.subheader {
	COLOR: #ffffff; BACKGROUND-COLOR: #7b8aa1
}
.header {
	COLOR: #ffffff; BACKGROUND-COLOR: #7b8aa1
}
TD.darkbox {
	BORDER-RIGHT: #7b8aa1 1px solid; BORDER-TOP: #7b8aa1 1px solid; BORDER-LEFT: #7b8aa1 1px solid; COLOR: #122349; BORDER-BOTTOM: #7b8aa1 1px solid; BACKGROUND-COLOR: #c6cfdc
}
TD.lightbox {
	BORDER-RIGHT: #8c9cad 1px solid; BORDER-TOP: #8c9cad 1px solid; BORDER-LEFT: #8c9cad 1px solid; COLOR: #122349; BORDER-BOTTOM: #8c9cad 1px solid; BACKGROUND-COLOR: #e2e7ef
}
TD.imgbox {
	BORDER-RIGHT: #8c9cad 1px solid; BORDER-TOP: #8c9cad 1px solid; BORDER-LEFT: #8c9cad 1px solid; BORDER-BOTTOM: #8c9cad 1px solid
}
TD.lightbg {
	BACKGROUND-COLOR: #eff1f5
}
TD.bottomline {
	BORDER-BOTTOM: #d6d6e7 1px solid; BACKGROUND-COLOR: #f3f4f7
}
.leftright {
	BORDER-RIGHT: #d7dbe4 1px solid; BORDER-LEFT: #d7dbe4 1px solid; BACKGROUND-COLOR: #f3f4f7
}
.artheight {
	BORDER-RIGHT: #d7dbe4 1px solid; BORDER-LEFT: #d7dbe4 1px solid; HEIGHT: 324px; BACKGROUND-COLOR: #f3f4f7
}
.addheight {
	BORDER-RIGHT: #d7dbe4 1px solid; BORDER-LEFT: #d7dbe4 1px solid; HEIGHT: 852px; BACKGROUND-COLOR: #f3f4f7
}
.space {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.menubg {
	COLOR: #ffffff; BACKGROUND-COLOR: #8494a5
}
TR.topmenu {
	COLOR: #ffffff; BACKGROUND-COLOR: #ff0000
}
A.menulink:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulink:hover {
	COLOR: #ffd800; TEXT-DECORATION: none
}
A.menulink:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulinkhover {
	COLOR: #ffd800; TEXT-DECORATION: none
}
A.fclink:link {
	COLOR: #9c4343; TEXT-DECORATION: none
}
A.fclink:visited {
	COLOR: #9c4343; TEXT-DECORATION: none
}
A.fclink:hover {
	COLOR: #9c4343; TEXT-DECORATION: none
}
A.fclink:active {
	COLOR: #9c4343; TEXT-DECORATION: none
}
.smallfont {
	FONT-SIZE: 7pt
}
.darktext {
	COLOR: #122349
}
.boldtext {
	FONT-WEIGHT: bold
}
.bigtext {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.bigtext1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.lable {
	COLOR: #1a234a
}
.graytext {
	COLOR: #c0c0c0
}
.active {
	COLOR: #ffd800
}
.hlight {
	COLOR: #ff0000
}
.dred {
	COLOR: #9c4343
}
.bigred {
	FONT-WEIGHT: bold; FONT-SIZE: 25pt; COLOR: #ff0000
}
.logo {
	FONT-WEIGHT: bold; FONT-SIZE: 21px; COLOR: #ffffff
}
.star {
	FONT-SIZE: 7pt; COLOR: #ff0000
}
.dot {
	FONT-SIZE: 8pt
}
.message {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #ff0000; PADDING-TOP: 2px
}
.white {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.normalwhite {
	COLOR: #ffffff
}
.nav {
	COLOR: #ffffff; BACKGROUND-COLOR: #7b8aa1
}
.linespace {
	FONT-SIZE: 7pt; LINE-HEIGHT: 14px
}
.imgborder {
	BORDER-RIGHT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-BOTTOM: #ff0000 1px solid
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Arial,Sans-Serif
}
A.afterlogin:link {
	COLOR: #1a234a; TEXT-DECORATION: underline
}
A.afterlogin:visited {
	COLOR: #1a234a; TEXT-DECORATION: underline
}
A.afterlogin:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.afterlogin:active {
	COLOR: #5b7491; TEXT-DECORATION: underline
}
A.afterloginhover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.catlink:link {
	COLOR: #3c5274; TEXT-DECORATION: underline
}
A.catlink:visited {
	COLOR: #3c5274; TEXT-DECORATION: underline
}
A.catlink:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.catlink:active {
	COLOR: #3c5274; TEXT-DECORATION: underline
}
A.artlink:link {
	COLOR: #3c5274; TEXT-DECORATION: none
}
A.artlink:visited {
	COLOR: #3c5274; TEXT-DECORATION: none
}
A.artlink:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.artlink:active {
	COLOR: #3c5274; TEXT-DECORATION: none
}
A.dealer:link {
	COLOR: #9f0000; TEXT-DECORATION: none
}
A.dealer:visited {
	COLOR: #3535ff; TEXT-DECORATION: none
}
A.dealer:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.dealer:active {
	COLOR: #3535ff; TEXT-DECORATION: none
}
A.makelink:link {
	COLOR: #122349; TEXT-DECORATION: underline
}
A.makelink:visited {
	COLOR: #122349; TEXT-DECORATION: underline
}
A.makelink:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.makelink:active {
	COLOR: #122349; TEXT-DECORATION: underline
}
A.latest:link {
	COLOR: #3c5274; TEXT-DECORATION: none
}
A.latest:visited {
	COLOR: #3c5274; TEXT-DECORATION: none
}
A.latest:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.latest:active {
	COLOR: #3c5274; TEXT-DECORATION: none
}
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #373953; FONT-FAMILY: Tahoma,Arial,Sans-Serif
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #373953; FONT-FAMILY: Tahoma,Arial,Sans-Serif
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #373953; FONT-FAMILY: Tahoma,Arial,Sans-Serif
}
.textbox {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 55px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 13px
}
.textbox1 {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 85px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 13px
}
.textbox2 {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 120px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 13px
}
.textbox3 {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 170px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 13px
}
.textbox4 {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 200px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 13px
}
.textbox5 {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 275px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 13px
}
.textbox6 {
	BORDER-RIGHT: #5b618c 1px solid; BORDER-TOP: #5b618c 1px solid; BORDER-LEFT: #5b618c 1px solid; WIDTH: 275px; BORDER-BOTTOM: #5b618c 1px solid; HEIGHT: 19px
}
.priceListBox {
	WIDTH: 120px; HEIGHT: 16px
}
.normallist1 {
	WIDTH: 55px; HEIGHT: 16px
}
.normallist2 {
	WIDTH: 75px; HEIGHT: 16px
}
.normallist3 {
	WIDTH: 105px; HEIGHT: 16px
}
.normallist4 {
	WIDTH: 130px; HEIGHT: 16px
}
.normallist5 {
	WIDTH: 150px; HEIGHT: 16px
}
.normallist6 {
	WIDTH: 180px; HEIGHT: 16px
}
.listbox1 {
	WIDTH: 55px; HEIGHT: 90px
}
.listbox2 {
	WIDTH: 70px; HEIGHT: 90px
}
.listbox3 {
	WIDTH: 105px; HEIGHT: 90px
}
.listbox4 {
	WIDTH: 140px; HEIGHT: 90px
}
.listbox5 {
	WIDTH: 150px; HEIGHT: 90px
}
.listbox6 {
	WIDTH: 180px; HEIGHT: 90px
}
.textarea {
	WIDTH: 280px; HEIGHT: 150px
}
.textarea1 {
	WIDTH: 310px; HEIGHT: 170px
}
.button {
	BORDER-RIGHT: #3c0202 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3c0202 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3c0202 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #3c0202 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ff0000
}
