<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<BODY bgColor="#B0D8FF">
  <A href="index.php">Home</A>&nbsp;&nbsp;<BR><BR>
<TABLE cellPadding="8" cellspacing="0" border="1">
<!--<TR>
  <TD>Margin Transactions : </TD>
  <TD><A href='accTransMarginAdd.php'>Add</A></TD>
  <TD><A href='accTransMarginList.php'>List</A></TD>
</TR>
-->
<TR>
  <TD>Money Transactions : </TD>
  <TD><A href='accTransOtherAdd.php'>Add</A></TD>
  <TD><A href='accTransList.php'>List</A></TD>
  <TD><A href='bankMasterAdd.php'>Bank Master Entry</A></TD>
  <TD>Other Expense : <A href='otherExpAdd.php'>Entry</A>&nbsp;&nbsp;&nbsp;<A href='otherExpList.php'>List</A></TD>
  
</TR>
<TR>
  <TD><A href="clientToClient.php">Client To Client</A></TD>
  <TD colspan="2"><A href='accSummary.php'>Summary</A></TD>
  <TD>&nbsp;</TD>
  <TD>Other Income : <A href='otherIncomAdd.php'>Entry</A>&nbsp;&nbsp;&nbsp;<A href='otherIncomList.php'>List</A></TD>
  
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;<A href='cashFlow.php'>Bank Transactions</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TABLE>
</BODY>
</HTML>