<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="newIncomeAdd.php">Add</A>
<A href="mnuAccount.php">Menu</A>
<BODY bgColor="#B0D8FF">
	<FORM name="form1" action="newIncomAdd.php" method="POST">
	<TABLE border=1 cellSpacing="0" cellPadding = "2">
    <TR>
      <TD><B><U>Incom Name</U></B></TD>
    </TR>
    {section name="sec1" loop=$IncomName}
    <TR>
    	<TD>{$IncomName[sec1]}</TD>
    </TR>
    {/section}
  </TABLE>
</FORM>
</BODY>
</HTML>