<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<HEAD><TITLE>Om !!!</TITLE>
</HEAD>
<BODY style="background-color:#D2B48C;">
<A href="newIncomList.php">List</A>
<A href="mnuAccount.php">Menu</A>
	<FORM name="form1" action="{$PHP_SELF}" method="post">
	<TABLE>
    <TR>
      <TD>Income Name</TD>
      <TD><INPUT type="text" name="incomeName"></TD>
    </TR>
    <TR>
      <TD><INPUT type="submit" name="btnSubmit" value="Submit !!"></TD>
      <TD><INPUT type="reset" name="btnReset" value="Reset"></TD>
    </TR>
  </TABLE>
</FORM>
</BODY>
</HTML>