<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<HEAD><TITLE>Om !!!</TITLE>
</HEAD>
<BODY style="background-color:#D2B48C;">
<A href="index.php">Home</A>&nbsp;&nbsp;
<A href="otherIncomList.php">List</A>&nbsp;&nbsp;
<A href="mnuAccount.php">Menu</A>
	<FORM name="form1" action="{$PHP_SELF}" method="POST">
	<TABLE>
    <TR>
      <TD>Income Name</TD>
      <TD>
      	<SELECT name="incomeName"> 
      		{html_options values=$incomeName.otherIncomName output=$incomeName.otherIncomName}
      	</SELECT>
      </TD>
      <TD><A href="newIncomAdd.php">Add Income Name</a></TD>
    </TR>
    <TR>
      <TD>Date</TD>
      <TD>{html_select_date prefix="expDate" start_year="+2" end_year="-2" field_order="dmy"}</TD>
    </TR>
    <TR>
      <TD>Amount</TD>
      <TD><INPUT type="text" name="txtAmount"></TD>
    </TR>
    <TR>
      <TD>Mode</TD>
      <TD>
      	<select name="transMode">
      		<option value="Cash">- Cash -</Option>
      		{html_options values=$bankName.bankName output=$bankName.bankName}
        </select>
      </TD>
    </TR>
    <TR>
    	<TD>Note</TD>
    	<TD><INPUT type="text" name="txtNote"></TD>
    </TR>
    <TR>
      <TD><INPUT type="submit" name="btnSubmit" value="Submit !!"></TD>
      <TD><INPUT type="reset" name="btnReset" value="Reset"></TD>
    </TR>
  </TABLE>
</FORM>
</BODY>
</HTML>