<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="index.php">Home</A>&nbsp;&nbsp;
<A href="otherExpList.php">Other Expense List</A>&nbsp;&nbsp;
<A href="mnuAccount.php">Account Menu</A>
<BODY onLoad="document.form1.txtExpName.focus();">
	<FORM name="form1" action="otherExpAdd.php" method="POST">
	<TABLE>
    <TR>
      <TD>Expense Name</TD>
      <TD>
      	<SELECT name="cboExpName"> 
      		{html_options values="$expName" output="$expName"}
      	</SELECT>
      </TD>
      <TD><A href="newExpenseAdd.php">Add Expense Name</TD>
    </TR>
    <TR>
      <TD>Date</TD>
      <TD>{html_select_date prefix="expDate" start_year="+2" end_year="-2" field_order="dmy"}</TD>
    </TR>
    <TR>
      <TD>Amount</TD>
      <TD><INPUT type="text" name="txtAmount"></TD>
    </TR>
    <TR>
      <TD>Mode</TD>
      <TD>
      	<select name="transMode">
      		<option value="Cash">- Cash -</Option>
      		{section name=sec1 loop=$i}
      			<option value="{$bankName[sec1]}">{$bankName[sec1]}</option>
      		{/section}
      </TD>
    </TR>
    <TR>
    	<TD>Note</TD>
    	<TD><INPUT type="text" name="txtNote"></TD>
    </TR>
    <TR>
      <TD><INPUT type="submit" name="btnSubmit" value="Submit !!"></TD>
      <TD><INPUT type="reset" name="btnReset" value="Reset"></TD>
    </TR>
  </TABLE>
</FORM>
</BODY>
</HTML>