<HTML>
<HEAD><TITLE>Om !!! Add Trade</TITLE>
<SCRIPT language="javascript">
{literal}
window.name = 'displayAll';
function entryCheck()
{
  if(document.form1.price.value=="")
  {
     alert("Please Enter price");
     document.form1.price.focus();
  }
}
function changeItem()
{
}
function changePrice(thePriceObject)
{
  var price;
  price = parseFloat(thePriceObject.value);
  if(parseFloat(price) || price==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      price=price+1;
    if(event.keyCode==33)
      price=price+10;
    if(event.keyCode==40)
      price=price-1;
    if(event.keyCode==34)
      price=price-10;
    if(thePriceObject.value != price)
      thePriceObject.value = price;
  }
}
function itemFromPrice()
{
  var price;
  price = parseFloat(document.form1.price.value);
{/literal}
{$itemFromPriceJS}
{literal}
}

function changeQty()
{
  {/literal}
  var minQty = {$minQty};
  {literal}
  var qty;
  qty = parseFloat(document.form1.qty.value);
  if(parseFloat(qty) || qty==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      qty=qty+minQty;
    if(event.keyCode==33)
      qty=qty+minQty*5;
    if(event.keyCode==40)
      qty=qty-minQty;
    if(event.keyCode==34)
      qty=qty-minQty*5;
    if(document.form1.qty.value != qty)
      document.form1.qty.value = qty;
  }
}
function changeBuySale()
{
  if(event.keyCode == 119 || event.keyCode==107)
  {
    document.form1.buySell.value = "Buy";
    return false;
  }
  if(event.keyCode == 120 || event.keyCode==109)
  {
    document.form1.buySell.value = "Sell";
    return false;
  }
  if(event.keyCode == 13)
  {
    if(!(event.shiftKey == true) && !(event.ctrlKey == true))
      document.form1.submitBtnRl.click();
    else if(event.shiftKey)
      document.form1.submitBtnSl.click();
    else if(event.ctrlKey)
      document.form1.submitBtn.click();
  }
  return true;
}
function checkBuySell()
{
  if(document.form1.buySell.value == "Buy" || document.form1.buySell.value == "Sell" )
  {}
  else
    document.form1.buySell.value = document.form1.beforeBuySell.value;
}
function askConfirmOk()
{
  if(!document.form1.expiryDate)
  {
    alert("Please Select Item");
    document.form1.itemId.focus();
  }
  else if(confirm("Are You Sure You want to Save Record?"))
  {
    example2();
    okEvent();
    return true;
  }
  else
    return false;
}
function showCustomer(str)
{ 
  var url="getTask.php";
  url=url+"?q="+str;
  
  http1.open('GET',url,false);
//  http1.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
//	http1.setRequestHeader("Content-length",str.length);
//	http1.setRequestHeader("Connection", "close");
  http1.onreadystatechange = handleHttpResponse1;
  http1.send(str);
}
function example2()
{
  var sIdmakeTrade = document.getElementById("makeTrade").value;
  var sIdday = document.getElementById("day").value;
  var sIdmonth = document.getElementById("month").value;
  var sIdyear = document.getElementById("year").value;
  var sIdclientId = document.getElementById("clientId").value;
  var sIdprice = document.getElementById("price").value;
  var sIdprice2 = document.getElementById("price2").value;
  var sIditemId = document.getElementById("itemId").value;
  var sIdexpiryDate = document.getElementById("expiryDate").value;
  var sIdbuySell = document.getElementById("buySell").value;
  var sIdqty = document.getElementById("qty").value;
  var sIdclientId2 = document.getElementById("clientId2").value;
  var sIdvendor = document.getElementById("vendor").value;
	
	var url = "storeLimitTradeMcxWithList.php";
	var params = "makeTrade="+escape(sIdmakeTrade)
	            +"&tradeDay="+escape(sIdday)
              +"&tradeMonth="+escape(sIdmonth)
              +"&tradeYear="+escape(sIdyear)
              +"&clientId="+escape(sIdclientId)
              +"&price="+escape(sIdprice)
              +"&price2="+escape(sIdprice2)
              +"&itemId="+escape(sIditemId)
              +"&expiryDate="+escape(sIdexpiryDate)
              +"&buySell="+escape(sIdbuySell)
              +"&qty="+escape(sIdqty)
              +"&clientId2="+escape(sIdclientId2)
              +"&vendor="+escape(sIdvendor);
  
          
  http.open("POST", url,true);
	http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	http.setRequestHeader("Content-length", params.length);
	http.setRequestHeader("Connection", "close");
	http.send(params);
	http.onreadystatechange = handleHttpResponse;
	document.form1.clientId.focus();

}
function okEvent()
{
  ajaxWrite();
}

function ajaxWrite()
{
    var sIdday = document.getElementById("day").value;
    var sIdmonth = document.getElementById("month").value;
    var sIdyear = document.getElementById("year").value;
	  var url = "displayList.php";
	  var param = "tradeDay="+escape(sIdday)
                +"&tradeMonth="+escape(sIdmonth)
                +"&tradeYear="+escape(sIdyear);
	  http2.open("POST",url,true);
	  http2.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  http2.setRequestHeader("Content-length",param.length);
	  http2.setRequestHeader("Connection", "close");
	  http2.send(param);
    http2.onreadystatechange = handleHttpResponse2;
}

 /*Submit the Message */
//function submitMsg()
//{
//  var sIdday = document.getElementById("day").value;
//  var sIdmonth = document.getElementById("month").value;
//  var sIdyear = document.getElementById("year").value;
//	
//	ajaxWrite("displayList.php?tradeDay="+escape(sIdday)
//                            +"&tradeMonth="+escape(sIdmonth)
//                            +"&tradeYear="+escape(sIdyear));
//
//}
function getHTTPObject() 
{	  
  var xmlhttp;
  
	if(window.XMLHttpRequest)
  {
    xmlhttp = new XMLHttpRequest(); 
  }
  else if (window.ActiveXObject)
	{		
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    if (!xmlhttp) 
    {
      xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); 
    }
	}
  return xmlhttp;
}
	{/literal}
	
var http1 = getHTTPObject();
{literal}      
	function handleHttpResponse1()
	{   
		if (http1.readyState == 4 || http1.readyState == 'complete') 
		{
			if(http1.status==200) 
			{
				var results1=http1.responseText;
				//alert(results1);
				document.getElementById('expiryDate1').innerHTML = results1;
			}
		}
	}
{/literal}

var http = getHTTPObject(); // We create the HTTP Object	
{literal}      
function handleHttpResponse()
{   
  if (http.readyState == 4 || http.readyState == 'complete') 
	{
	  if(http.status==200) 
		{
			var results=http.responseText;
		}
	}
}
{/literal}



var http2 = getHTTPObject();

{literal}      
function handleHttpResponse2()
{   
  if (http2.readyState == 4 || http2.readyState == 'complete') 
	{
	 
   	document.getElementById('chatwindow').innerHTML = http2.responseText;
   	
  }
}
{/literal}

</SCRIPT>
</HEAD>
{literal}
<BODY bgColor="#FFFF80" onKeyDown="if(event.keyCode==10)
                                   { document.form1.makeTrade.value=1; document.form1.submit();  } 
                                   return changeBuySale();" >
{/literal}
  <FORM name="form1" action="{$PHP_SELF}" METHOD="post">
  
  
  	    
  <INPUT type="hidden" name="changedField" value="">
  <INPUT type="hidden" name="makeTrade" value="0">
  <INPUT type="hidden" name="forStand" value="{$forStand}">
  <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
  <TR>
    <TD>
      <SELECT name="clientId">
        {html_options selected="$clientIdSelected" values="$clientIdValues" output="$clientIdOutput" }
      </SELECT>
    </TD>
    <TD>Date : <SELECT id="day" onKeyDown="if(event.keyCode==13) event.keyCode=9;">
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </SELECT>
    <SELECT id="month" onKeyDown="if(event.keyCode==13) event.keyCode=9;">
       <option value="01">01</option>
       <option value="02">02</option>
       <option value="03">03</option>
       <option value="04">04</option>
       <option value="05">05</option>
       <option value="06">06</option>
       <option value="07">07</option>
       <option value="08">08</option>
       <option value="09">09</option>
       <option value="10">10</option>
       <option value="11">11</option>
       <option value="12">12</option>
    </SELECT>
    <SELECT id="year" onKeyDown="if(event.keyCode==13) event.keyCode=9;">
        <option value="2008">2008</option>
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
    </SELECT>
    </TD>
    <TD colspan="2" NOWRAP>
      Price : <INPUT size="10" type="text" name="price" value="{$lastPrice2}"onKeydown="changePrice(this);"onBlur="entryCheck();document.form1.price2.value=this.value;">&nbsp;&nbsp;&nbsp;
    </TD>
    <TD>
      Price2 : <INPUT size="10" type="text" name="price2" value="{$lastPrice2}" onKeydown="changePrice(this);" onBlur="itemFromPrice();">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
  <TR>
    <TD>
      
      <INPUT type="hidden" name="beforeBuySell" value="Buy">
      <INPUT type="text" name="buySell" value="Buy" size="8" 
        onFocus="document.form1.beforeBuySell.value=document.form1.buySell.value;"
        onChange="checkBuySell();">
        <SELECT name="itemId" onBlur="showCustomer(this.value)";>
          <option value="" selected>-CHOOSE-</option>
          {html_options values="$itemIdValues" output="$itemIdOutput"}
        </SELECT>
   </TD>
   <TD>
      <div id="expiryDate1"> </div>
   </TD>
   <TD>
    Quantity : <INPUT type="text" name="qty" value="{$minQty}" onKeyDown="changeQty();">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
  <TR>
{if $forStand == 1}
    <TD>
      <INPUT type="radio" name="standing" value="-1"> Open Standing
      <INPUT type="radio" name="standing" value="1"> Close Standing
    </TD>
{/if}
    <TD colspan="3">
    	Client 2 : 
      <SELECT name="clientId2" >
      {html_options selected="$clientId2Selected"  values="$clientId2Values" output="$clientId2Output"}
      </SELECT>
      Vendor : 
      <INPUT type="hidden" name="vendor" value="_SELF">
    </TD>
  </TR>
  <TR>
    <TD colspan="4">
      <INPUT type="button" name="submitBtnRl" value="RL" onClick="document.form1.makeTrade.value=2;askConfirmOk();">
      <INPUT type="button" name="submitBtnSl" value="SL" onClick="document.form1.makeTrade.value=3;askConfirmOk();">
      <INPUT type="button" name="submitBtn" value="Trade" onClick="document.form1.makeTrade.value=1;askConfirmOk();">
       &nbsp;&nbsp;&nbsp;&nbsp;<B>Enter => RL ## Shift + Enter => SL ## Ctrl + Enter => Trade
       <!--{$clientWholeName} : </B>
       Deposit : {$deposit}&nbsp;&nbsp;&nbsp;&nbsp;
       CurrentBal : {$currentBal}&nbsp;&nbsp;&nbsp;&nbsp;
       Total : {$total}&nbsp;&nbsp;&nbsp;&nbsp;
      ho Pne   : {$phone}&nbsp;&nbsp;&nbsp;&nbsp;
       Mobile  : {$mobile}&nbsp;-->
    </TD>
  </TR>
  <TR>
    <TD colspan="4"><B>Last trade : </B>{$lastTradeInfoVar}
    </TD>
  </TR>
    
  </TABLE>
  
  <div id="chatwindow"> </div>
  
  
  {$focusScript}
  
  </FORM>
</BODY>
</HTML>