<HTML>
<HEAD><TITLE>Om !!! Add Trade</TITLE>
<SCRIPT language="javascript">
{literal}
window.name = 'displayAll';

function changeName()
{
  document.form1.changedField.value = "clientId";
  document.form1.submit();
}
function changeItem()
{
  document.form1.changedField.value = "itemId";
  document.form1.submit();
}

function changePrice()
{
  var price;
  price = parseFloat(document.form1.price.value);
  if(parseFloat(price) || price==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      price=price+1;
    if(event.keyCode==33)
      price=price+10;
    if(event.keyCode==40)
      price=price-1;
    if(event.keyCode==34)
      price=price-10;
    if(document.form1.price.value != price)
      document.form1.price.value = price;
  }
}
function itemFromPrice()
{
  var price;
  price = parseFloat(document.form1.price.value);
{/literal}
{$itemFromPriceJS}
{literal}
}

function changeQty()
{
  {/literal}
  var minQty = {$minQty};
  {literal}
  var qty;
  qty = parseFloat(document.form1.qty.value);
  if(parseFloat(qty) || qty==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      qty=qty+minQty;
    if(event.keyCode==33)
      qty=qty+minQty*5;
    if(event.keyCode==40)
      qty=qty-minQty;
    if(event.keyCode==34)
      qty=qty-minQty*5;
    if(document.form1.qty.value != qty)
      document.form1.qty.value = qty;
  }
}
function changeBuySale()
{
  if(event.keyCode == 119 || event.keyCode==107)
  {
    document.form1.buySell.value = "Buy";
    return false;
  }
  if(event.keyCode == 120 || event.keyCode==109)
  {
    document.form1.buySell.value = "Sell";
    return false;
  }
  if(event.keyCode == 13)
  {
    if(!(event.shiftKey == true) && !(event.ctrlKey == true))
      document.form1.submitBtnRl.click();
    else if(event.shiftKey)
      document.form1.submitBtnSl.click();
    else if(event.ctrlKey)
      document.form1.submitBtn.click();
  }
  return true;
}
{/literal}
// ajax for data insert : Start
  {literal}      
	function handleHttpResponse()
	{   
		if (http.readyState == 4 || http.readyState == 'complete') 
		{
			if(http.status==200) 
			{
				var results=http.responseText;
				document.getElementById('client').innerHTML = results;
			}
		}
	}
   
	// Start Using Post Method.
  	function example1()
		{
			var sIdchangedField = document.getElementById("changedField").value;
			var sIdmakeTrade = document.getElementById("makeTrade").value;
			var sIdfirstName = document.getElementById("firstName").value;
			var sIdmiddleName = document.getElementById("middleName").value;
			var sIdlastName = document.getElementById("lastName").value;
			var sIdforStand = document.getElementById("forStand").value;
			var sIdprice = document.getElementById("price").value;
			var sIdday = document.getElementById("day").value;
			var sIdmonth = document.getElementById("month").value;   
			var sIdyear = document.getElementById("year").value;
			var sIdorderType = document.getElementById("orderType").value;
			var sIditemId = document.getElementById("itemId").value;
			var sIdexpiryDate = document.getElementById("expiry").value;
			var sIdqty = document.getElementById("qty").value;
			var sIdpriceValue = document.getElementById("priceValue").value;
			var sIdtriggerPrice = document.getElementById("triggerPrice").value;
			var sIdorderValidity = document.getElementById("orderValidity").value;
			   
			var sIdeday = document.getElementById("eday").value;
			var sIdemonth = document.getElementById("emonth").value;
			var sIdeyear = document.getElementById("eyear").value;
			var sIdclientId = document.getElementById("clientId").value;
			var sIdbuySell = document.getElementById("buySell").value;
			var sIdvendorId = document.getElementById("vendorId").value;
			var sIdtradeBtn = document.getElementById("tradeBtn").value;
			
			var url = "tradeAdd3ajax.php";
			var params = "changedFi="+escape(sIdchangedField)
			            +"&makeTrad="+escape(sIdmakeTrade)
			            +"&firstNam="+escape(sIdfirstName)
		              +"&middleNam="+escape(sIdmiddleName)
		              +"&lastNam="+escape(sIdlastName)
		              +"&forStan="+escape(sIdforStand)
		              +"&pric="+escape(sIdprice)
		              +"&tday="+escape(sIdday)
		              +"&tmonth="+escape(sIdmonth)
		              +"&tyear="+escape(sIdyear)
		              +"&orderTyp="+escape(sIdorderType)
		              +"&itemI="+escape(sIditemId)
		              +"&expiryDat="+escape(sIdexpiryDate)
		              +"&qt="+escape(sIdqty)
		              +"&priceValu="+escape(sIdpriceValue)
		              +"&triggerPrice="+escape(sIdtriggerPrice)
		              +"&orderValidit="+escape(sIdorderValidity)
		              +"&eday="+escape(sIdeday)
		              +"&emonth="+escape(sIdemonth)
		              +"&eyear="+escape(sIdeyear)
		              +"&client="+escape(sIdclientId)
		              +"&bySell="+escape(sIdbuySell)
		              +"&vendor="+escape(sIdvendorId)
		              +"&tradBtn="+escape(sIdtradeBtn);
			http.open("POST", url, true);
			
			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			http.setRequestHeader("Content-length", params.length);
			http.setRequestHeader("Connection", "close");
			http.send(params);
			http.onreadystatechange = handleHttpResponse;
			
			
			var sIdqty = document.getElementById("qty").value = "";
			var sIdpriceValue = document.getElementById("priceValue").value = "";
			var sIdclientId = document.getElementById("clientId").value = "";
		}
	// End Using Post Method.	
		function getHTTPObject() 
		{	  var xmlhttp;
			  if(window.XMLHttpRequest)
			  {	xmlhttp = new XMLHttpRequest(); }
  			  else if (window.ActiveXObject)
			  {		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    		   		if (!xmlhttp) {
        				xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); }
			  }
     		  return xmlhttp;
		}{/literal}
	var http = getHTTPObject(); // We create the HTTP Object
	
  {literal}      
	function handleHttpResponse()
	{   
		if (http.readyState == 4 || http.readyState == 'complete') 
		{
			if(http.status==200) 
			{
				var results=http.responseText;
				document.getElementById('client').innerHTML = results;
			}
		}
	}
	// Start Using Post Method.
  	function example()
		{
			var sIdchangedField = document.getElementById("changedField").value;
			var sIdmakeTrade = document.getElementById("makeTrade").value;
			var sIdfirstName = document.getElementById("firstName").value;
			var sIdmiddleName = document.getElementById("middleName").value;
			var sIdlastName = document.getElementById("lastName").value;
			var sIdforStand = document.getElementById("forStand").value;
			var sIdprice = document.getElementById("price").value;
			var sIdday = document.getElementById("day").value;
			var sIdmonth = document.getElementById("month").value;   
			var sIdyear = document.getElementById("year").value;
			var sIdorderType = document.getElementById("orderType").value;
			var sIditemId = document.getElementById("itemId").value;
			var sIdexpiryDate = document.getElementById("expiry").value;
			var sIdqty = document.getElementById("qty").value;
			var sIdpriceValue = document.getElementById("priceValue").value;
			var sIdtriggerPrice = document.getElementById("triggerPrice").value;
			var sIdorderValidity = document.getElementById("orderValidity").value;
			   
			var sIdeday = document.getElementById("eday").value;
			var sIdemonth = document.getElementById("emonth").value;
			var sIdeyear = document.getElementById("eyear").value;
			var sIdclientId = document.getElementById("clientId").value;
			var sIdbuySell = document.getElementById("buySell").value;
			var sIdvendorId = document.getElementById("vendorId").value;
			var sIdlimitBtn = document.getElementById("limitBtn").value;
			
			var url = "tradeAdd3ajax.php";
			var params = "changedFi="+escape(sIdchangedField)
			            +"&makeTrad="+escape(sIdmakeTrade)
			            +"&firstNam="+escape(sIdfirstName)
		              +"&middleNam="+escape(sIdmiddleName)
		              +"&lastNam="+escape(sIdlastName)
		              +"&forStan="+escape(sIdforStand)
		              +"&pric="+escape(sIdprice)
		              +"&tday="+escape(sIdday)
		              +"&tmonth="+escape(sIdmonth)
		              +"&tyear="+escape(sIdyear)
		              +"&orderTyp="+escape(sIdorderType)
		              +"&itemI="+escape(sIditemId)
		              +"&expiryDat="+escape(sIdexpiryDate)
		              +"&qt="+escape(sIdqty)
		              +"&priceValu="+escape(sIdpriceValue)
		              +"&triggerPrice="+escape(sIdtriggerPrice)
		              +"&orderValidit="+escape(sIdorderValidity)
		              +"&eday="+escape(sIdeday)
		              +"&emonth="+escape(sIdemonth)
		              +"&eyear="+escape(sIdeyear)
		              +"&client="+escape(sIdclientId)
		              +"&bySell="+escape(sIdbuySell)
		              +"&vendor="+escape(sIdvendorId)
		              +"&limiBtn="+escape(sIdlimitBtn);
			http.open("POST", url, true);
			
			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			http.setRequestHeader("Content-length", params.length);
			http.setRequestHeader("Connection", "close");
			http.send(params);
			http.onreadystatechange = handleHttpResponse;
			
			var sIdqty = document.getElementById("qty").value = "";
			var sIdpriceValue = document.getElementById("priceValue").value = "";
			var sIdclientId = document.getElementById("clientId").value = "";
		}
	// End Using Post Method.	
		function getHTTPObject() 
		{	  var xmlhttp;
			  if(window.XMLHttpRequest)
			  {	xmlhttp = new XMLHttpRequest(); }
  			  else if (window.ActiveXObject)
			  {		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    		   		if (!xmlhttp) {
        				xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); }
			  }
			  
     		  return xmlhttp;
		}{/literal}
	var http = getHTTPObject(); // We create the HTTP Object
// ajax for data insert : End

</SCRIPT>
</HEAD>
{literal}
<BODY bgColor="#FFFF80" onKeyDown="if(event.keyCode==10){ document.form1.makeTrade.value=1; document.form1.submit();} changeBuySale();">
{/literal}
  <FORM name="form1" action="{$PHP_SELF}" METHOD="post">
  <INPUT type="hidden" name="changedField" value="">
  <INPUT type="hidden" name="makeTrade" value="0">
  <INPUT type="hidden" name="firstName" value="{$firstName}">
  <INPUT type="hidden" name="middleName" value="{$middleName}">
  <INPUT type="hidden" name="lastName" value="{$lastName}">
  <INPUT type="hidden" name="forStand" value="{$forStand}">
  <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
  <TR>
    <TD>
      <SELECT name="exchange" onChange="document.form1.submit()">
        {html_options selected="$exchangeSelected" values="$exchangeValues" output="$exchangeOutput" }
      </SELECT>
      <SELECT name="clientId" onChange="changeName();">
      {html_options selected="$clientIdSelected" values="$clientIdValues" output="$clientIdOutput" }
      </SELECT>
    </TD>
    <TD>Date : 
      {html_select_date time="$tradeDateDisplay" prefix="trade" start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
    </TD>
    <TD colspan="2" NOWRAP>
      Price : <INPUT size="10" type="text" name="price" value="{$lastPrice}" onKeydown="changePrice();" onBlur="itemFromPrice();">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
  <TR>
    <TD>
      <SELECT name="itemId" onChange="changeItem();">
      {html_options selected="$itemIdSelected" values="$itemIdValues" output="$itemIdOutput"}
      </SELECT>
      &nbsp;&nbsp;
      <SELECT name="expiryDate">
      {html_options selected="$expiryDateSelected" values="$expiryDateValues" output="$expiryDateOutput"}
      </SELECT>
      &nbsp;&nbsp;&nbsp;
      <INPUT type="text" name="buySell" value="Buy" size="8">
      </TD>
    <TD>
      Quantity : <INPUT type="text" name="qty" value="{$minQty}" onKeyDown="changeQty();">&nbsp;&nbsp;&nbsp;
    </TD>
    <TD colspan="2">
    &nbsp;
    </TD>
  </TR>
  <TR>
{if $forStand == 1}
    <TD>
      <INPUT type="radio" name="standing" value="-1"> Open Standing
      <INPUT type="radio" name="standing" value="1"> Close Standing
    </TD>
{/if}
    <TD colspan="3">
    	Client 2 : 
      <SELECT name="clientId2">
      {html_options selected="$clientId2Selected" values="$clientId2Values" output="$clientId2Output" }
      </SELECT>
     <!-- Vendor : -->
      <INPUT type="hidden" name="vendor" value="_SELF">
      Client 2 Price : <INPUT size="10" type="text" name="client2price" value="{$clientLastPrice}" onKeydown="changePrice();" onBlur="itemFromPrice();">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
  <TR>
    <TD colspan="4">
      <INPUT type="submit" name="submitBtnRl" value="RL" onClick="document.form1.makeTrade.value=2;">
      <INPUT type="submit" name="submitBtnSl" value="SL" onClick="document.form1.makeTrade.value=3;">
      <INPUT type="submit" name="submitBtn" value="Trade" onClick="document.form1.makeTrade.value=1;">
       &nbsp;&nbsp;&nbsp;&nbsp;<B>Enter => RL ## Shift + Enter => SL ## Ctrl + Enter => Trade</B>
    </TD>
  </TR>
  <TR>
    <TD colspan="4"><B>Last trade : </B>{$lastTradeInfoVar}
    </TD>
  </TR>
  </TABLE>
  {$focusScript}
  </FORM>
</BODY>
</HTML>
