<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="bankMasterAdd.php">Add</A>
<A href="mnuAccount.php">Menu</A>
<BODY bgColor="TAN" onLoad="document.form1.txtBankName.focus();">
	<FORM name="form1" action="bankMasterAdd.php" method="POST">
	<TABLE border="1" cellpadding="2" cellspacing="0">
    <TR>
      <TH>Bank Name</TH>
      <TH>Phone 1.</TH>
      <TH>Phone 2.</TH>
    </TR>
    <TR>
      {section name="sec1" loop=$i}
		    <TD>{$bankName[sec1]}</TD>
		    <TD>{$phone1[sec1]}</TD>
		    <TD>{$phone2[sec1]}</TD>
		    </TR>
      {/section}
    
  </TABLE>
</FORM>
</BODY>
</HTML>