<HTML>
<BODY bgcolor="TAN">
<A href="./index.php">Home</A>
<FORM name="form1" action="{$PHP_SELF}" method="POST">
<TABLE border="1" cellpadding="4" cellspacing="0">
<TR>
  <TD colspan="4" align="center"><B>Standing Dates</B><TD>
</TR>
<TR>
  <TD align="right">Close Date : </TD>
  <TD>{html_select_date time="$standingDtCurrent" prefix="standingDtCurrent" start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}</TD>
  <TD align="right">Open Date : </TD>
  <TD>{html_select_date time="$standingDtNext"    prefix="standingDtNext"    start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}</TD>
</TR>
<TR>
  <TD><INPUT type="submit" name="submitBtn" value="Submit !"></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TABLE>
</FORM>
<A href="./index.php">Home</A>
</BODY>
</HTML>
