<HTML>
<HEAD><TITLE>Edit Client</TITLE></HEAD>
<BODY bgColor="#FFCEE7">
  <FORM name="form1" action="{$PHP_SELF}" METHOD=POST>
  <A href="./index.php">Home</A>
  <A href="./clientList.php">Client List</A><BR>
<Center><B>{$message}</Center></B>
  <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
  <TR>
    <TD colspan="2">
      client Id : <INPUT type="text" name="clientId" size="6" value="{$clientId}">
      First Name : <INPUT type="text" name="firstName" value="{$firstName}">
      Middle : <INPUT type="text" name="middleName" value="{$middleName}">
      Last : <INPUT type="text" name="lastName" value="{$lastName}">
    </TD>
  </TR>
  <TR>
    <TD align="right">Deposit :</TD>
    <TD><INPUT type="text" name="deposit" value={$deposit}></TD>
  </TR>
  <TR>
    <TD align="right">Address :&nbsp;</TD>
    <TD><TEXTAREA name="address" rows=3 cols=50>{$address}</TEXTAREA></TD>
  </TR>
  <TR>
    <TD align="right">Phone :&nbsp;</TD>
    <TD><INPUT type="text" name="phone" value={$phone}>&nbsp;Fax :&nbsp;
      <INPUT type="text" name="fax" value={$fax}></TD>
  </TR><TR>
    <TD align="right">Mobile :&nbsp;</TD>
    <TD><INPUT type="text" name="mobile" value={$mobile}></TD>
  </TR><TR>
    <TD align="right">Email :&nbsp;</TD>
    <TD><INPUT type="text" name="email" value={$email}></TD>
  </TR>
  <TR><TD align=center colspan="2"><h4>Brokerage...</TD><TR>
{section name=sec1 loop=$i}
  <TR>
    <TD>{$itemName[sec1]}</TD>
    <TD><INPUT type="text" name={$itemName[sec1]} value={$oneSideBrok[sec1]}></TD>
  </TR>
{/section}   
  <TR>
    <TD><INPUT type="submit" name="submitBtn" value="Submit me!"></TD>
    <TD><INPUT type="reset" value="Reset"></TD>
  </TR>
  </TABLE>
    <SCRIPT language="javascript">document.form1.firstName.focus();</SCRIPT>
  </FORM>
</BODY>
</HTML>