<SELECT name="itemId" onChange="changeItem();">
{html_options values=$itemValues selected=$itemSelected output=$itemOutput}
</SELECT>
<INPUT type="text" name="expiryDate">
<BR><BR>
{section name=sec1 loop=$expiryArray}
{$expiryArray[sec1].itemId} : {$expiryArray[sec1].expiryDate}<BR>
{/section}
