<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="otherExpAdd.php">Add</A>
<A href="mnuAccount.php">Menu</A>
<BODY bgColor="TAN" onLoad="document.form1.txtBankName.focus();">
	<FORM name="form1" action="otherExpList.php" method="POST">
	<TABLE border="1" cellpadding="2" cellspacing="0">
    <TR>
      <TH>Expense Name</TH>
      <TH>Date</TH>
      <TH>Amount</TH>
      <TH>Mode</TH>
      <TH>Note</TH>
    </TR>
    <TR>
      {section name="sec1" loop=$i}
		    <TD>{$otherExpName[sec1]}</TD>
		    <TD>{$otherExpDate[sec1]}</TD>
		    <TD align="right">{$otherExpAmount[sec1]}</TD>
		    <TD>{$otherExpMode[sec1]}</TD>
		    {if $otherExpNote[sec1] eq ""}
		    <TD>-</TD>
		    {else}
		    <TD>{$otherExpNote[sec1]}</TD>
		    {/if}
		    </TR>
      {/section}
    <TR>
    	<TH colspan="2">Total --></TH>
    	<TH align="right">{$totalExp}</TH>
    	<TH>&nbsp;</TH>
    	<TH>&nbsp;</TH>
    	
    </TR>
    	
  </TABLE>
</FORM>
</BODY>
</HTML>